:root {
    --body-color: #29292c;
    --logo-color: #5486e5;
    --btn-color: #7971e9;
    --nav-bg-color: #191b27;
    --explore-bg-color: #191b27;
    --text-color: #fff;
    --release-bg-color:#121318;
    --shodows: -1px 6px 14px 0px rgba(4,4,19,1);
  
  }

  body {
    background-color: var(--release-bg-color);
    font-family: "Source Sans Pro";
    color: var(--text-color);
  }
  section {
    background-color: var(--release-bg-color) !important;
  }

header .hero{
    overflow: hidden;
    width: 100%;
    height: 77vh;
    background: url('../../assets/img/Rectangle 7 (4).png') no-repeat;
    background-size: cover;
    padding-top: 10rem;
  }



  /* Body Sections */
  .main-section {
      margin-top: 2%;
  }

  .tour-section {
      width: 100%;
      text-align: center;
  }

  .tour-grid {
      margin-top: 3rem;
  }

  .tour-banner {
    width: 15rem;
    height: 25rem;
      border-radius: 3%;
  }
.tour-describtion {
    width: 60%;
    text-align: left;
}
.tour-heading {
    font-weight: 600;
    color: var(--btn-color);
    margin-bottom: 2rem;
    padding: 0 !important;
}

.tour-text {
    width: 70%;
    margin: 2rem 0;
}

.tour-artist {
  margin: 2rem 0;
}

.artist-name {
  color: var(--btn-color);
  width: 10%;
  padding-left: .5rem;
}

.tour-icons {
  color: var(--btn-color);
  padding-right: .6rem;
}

.tour-btn {
  background-color: var(--btn-color);
  color: var(--text-color);
  margin-top: 2rem;
}


/*************************

// Media Queries

**************************/