body {
  background: rgb(18, 19, 24);
  font-size: 18px;
  color: white;
}
a {
  color: white;
}
a:hover {
  color: rgb(110, 105, 185);
}
.active {
  color: rgb(110, 105, 185);
}
.btn-sign {
  color: white;
  border: 2px solid rgb(110, 105, 185);
}
.btn-sign:hover {
  color: rgb(110, 105, 185);
}
.btn-primary {
  background-color: rgb(121, 113, 234);
  border: solid rgb(121, 113, 234);
}
.btn-primary:hover {
  background-color: rgb(110, 105, 185);
  border: solid rgb(110, 105, 185);
}
#hero {
  background-image: url('../../assets/img/Rectangle 7.png');
  /*height: 70vh;*/
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  padding-top: 22vh;
  padding-bottom: 22vh;
}
.hero-content {
  align-items: center;
  width: 50%;
}
.releases-album img{
  height: 250px;
  object-fit: cover;
  position: relative;
}
.releases-album h6, p {
  position: absolute;
  top: 180px;
  left: 40px;
}
.releases-album p {
  top: 200px;
  font-size: 16px;
  font-weight: 300;
}
.lh {
  line-height: 1.6;
}